ul {
    width:100%;
    height:20px;
    text-align:center;
}
li {
    text-align: left;
    color:#0b3f96;
    margin-right:10px;
}

.title-main{
    font-size: 40px;
    color: green;
    padding-top: 100px;
    text-align: center;
}
.content-main{
    padding-left: 450px;
}
.content-javascrip{
    padding-top: 100px;
    padding-left: 450px;   
}
